/* --- Typography & Colors---*/
header {
    font-family: var(--font-ss);
    font-weight: var(--fw-normal);
    background: var(--col-gray);
    color: var(--col-light);
}

.logo {
    &__text {
        font-weight: var(--fw-normal);
        text-transform: uppercase;
        font-size: 1.25rem;
        line-height: 1;
    }

    &__link {
        text-decoration: none;
        color: var(--col-light);
    }

    &__link:visited {
        color: var(--col-light);
    }

    &__accent {
        color: var(--col-accent);
        letter-spacing: 2px;
    }
}

.nav {
    letter-spacing: 1px;
}

/*-----------------
------ Layout -----
-----------------*/

header {
    padding: var(--padding-vert-header) 0;
    // Make entire top bar stick when scrolling
    position: sticky;
    z-index: 999;
    top: 0;
    margin-bottom: var(--margin-bottom);
}

.container.container--header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

/*--- Burger ---*/
header {
    --burger-size: 30px;
    --burger-line-width: 3px;
    --burger-separation: 8px;
    --burger-animation-duration: 350ms;
}

.burger {
    // Invisible input
    position: absolute;
    right: var(--padding-horiz-container);
    width: var(--burger-size);
    height: var(--burger-size);
    opacity: 0;
    z-index: 2;

    // Covering div
    &__outer {
        width: var(--burger-size);
        height: var(--burger-size);
        position: relative;
        display: grid;
        align-items: center;
        cursor: pointer;
        z-index: 1;
    }

    // Burger lines
    &__line,
    &__line::before,
    &__line::after {
        position: absolute;
        width: 100%;
        height: var(--burger-line-width);
        background: var(--col-light);
    }

    &__line::before,
    &__line::after {
        content: '';
    }

    &__line::before {
        top: calc(-1 * var(--burger-separation));
    }

    &__line::after {
        top: var(--burger-separation);
    }

    // Toggle Animation
    &__line {
        transition: transform var(--burger-animation-duration) ease-in-out;
    }

    &:checked + .burger__outer > .burger__line {
        transform: rotate(135deg);
    }

    &:checked + .burger__outer > .burger__line::before,
    &:checked + .burger__outer > .burger__line::after {
        top: 0;
        transform: rotate(90deg);
    }

    &:checked:hover + .burger__outer > .burger__line {
        // Rotate on hover when checked
        transform: rotate(225deg);
    }

    // Hide on desktop
    @media screen and (min-width: $break-header) {
        display: none;

        &__outer {
            display: none;
        }
    }
}

/*--- Nav ---*/
.nav {
    // Menu-container
    background-color: var(--col-gray);
    position: absolute;
    left: 0;
    right: 0;
    top: calc(100% + var(--padding-vert-header));

    // Hide by default
    transform: scaleY(0);
    transform-origin: top;
    transition: transform var(--burger-animation-duration) ease-in-out;

    &__list {
        list-style-type: none;
        display: flex;
        flex-direction: column;
    }

    &__link {
        font-size: var(--fs-menu-item);
        color: var(--col-light);
        text-decoration: none;
        display: block;
        text-align: center;
        padding: var(--padding-vert-header) 0px;
    }

    &__link:hover {
        color: var(--col-accent);
    }

    @media screen and (min-width: $break-header) {
        position: relative;
        transform: scaleY(1);

        &__list {
            flex-direction: row;
        }

        &__link {
            padding: 0 0;
            margin-left: calc(2 * var(--margin-left-link));
        }
    }
}

// Toggle dropdown menu
.burger:checked ~ .nav {
    transform: scaleY(1);
}
