.container--research {
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

// Manifest
.manifest {
    font-size: var(--fs-manifest);
    text-align: left;
    margin-bottom: var(--margin-bottom);
}

// Projects section
.project-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    @media screen and (min-width: $break-research) {
        flex-direction: row;
    }
}

.project {
    /* Variables */
    --vert-padding: 2em;
    --horiz-padding: 0em;

    // Space between elements
    --margin-bottom-logo: 2em;
    --margin-bottom-title: 0.5em;
    --margin-bottom-desc: 2em;

    /* Layout */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    position: relative;
    padding: var(--vert-padding) var(--horiz-padding);

    &__logo {
        margin-bottom: var(--margin-bottom-logo);
    }

    &__title {
        @include header_style(var(--fs-project-title));
        margin-bottom: var(--margin-bottom-title);
        width: 100%;
        max-width: 400px;
    }

    &__desc {
        font-size: var(--fs-project-desc);
        margin-bottom: var(--margin-bottom-desc);
        max-width: 400px;
    }

    &::after {
        @include separator_pseudo;
        height: var(--sep-thickness);
        bottom: 0px;
        left: var(--horiz-padding);
        right: var(--horiz-padding);
    }

    &:last-of-type::after {
        height: 0px;
    }

    @media screen and (min-width: $break-research) {
        --horiz-padding: 1em;

        &__logo {
            width: 100%;
        }

        &::after {
            height: auto;
            width: var(--sep-thickness);
            left: auto;
            top: var(--vert-padding);
            bottom: var(--vert-padding);
            right: 0;
        }

        &:last-of-type::after {
            width: 0px;
        }
    }

    @media screen and (min-width: 800px) {
        --horiz-padding: 4em;
    }
}
