.map {
    margin: 0 auto;
    width: 80%;
    height: 400px;
    margin-bottom: var(--margin-bottom);
}

.members-container {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: repeat(auto-fill, minmax(300px, auto));
    grid-gap: 25px;

    margin-bottom: 55px;
}

.member {
    // Space between elements
    --margin-bottom-img: 2.5em;
    --margin-bottom-name: 0.5em;
    --margin-bottom-desc: 2.5em;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px;

    &__img {
        margin-bottom: var(--margin-bottom-img);
        width: 150px;
        border-radius: 5px;
    }

    &__name {
        @include header_style(var(--fs-member-title));
        margin-bottom: var(--margin-bottom-name);
        font-weight: var(--fw-bolder);
    }

    &__desc {
        margin-bottom: var(--margin-bottom-desc);
        font-size: var(--fs-member-desc);
        color: #555;
        max-width: 50ch;
    }

    &__socials {
        flex-grow: 1;
        display: flex;
    }
}

.popup {
    position: absolute;
    bottom: 12px;
    left: -50px;
    min-width: 320px;
    color: var(--col-dark);

    padding: 15px;
    background-color: white;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    line-height: 1;
    font-size: 1rem;

    &:after {
        top: 100%;
        border: solid transparent;
        content: '';
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-top-color: white;
        border-width: 13px;
        left: 49px;
        margin-left: -13px;
    }

    &__close {
        font-size: 1em;
        text-decoration: none;
        position: absolute;
        top: 8px;
        right: 8px;
        color: #aaa;
    }

    &__close:hover {
        color: #555;
    }

    &__close:after {
        content: '✖';
        color: inherit;
    }

    // Popup content
    &__title {
        font-weight: var(--fw-bold);
        font-size: 1.25em;
        margin-bottom: 0.2em;
        color: inherit;
    }

    &__subtitle {
        font-weight: normal;
        font-size: 1.1em;
        margin-bottom: 0.8em;
    }

    &__line {
        display: inline-block;
        margin-bottom: 0.2em;
    }

    &__line span {
        font-weight: var(--fw-bold);
    }

    @media screen and (max-width: 500px) {
        font-size: 0.75rem;
        min-width: 200px;
    }
}
